<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Avadhut Lele</h1>
      <h2 class="project-tagline">Solutions Architect, Consultant and Middleware Engineer</h2>
      <h3><a href="mailto:kodtodya@gmail.com">kodtodya@gmail.com</a> | <a href="tel:+91-82-3737-9497">+91-8237379497</a></h3>
      <h4><a href="https://github.com/kodtodya"><img src="https://banner2.cleanpng.com/20180824/jtl/kisspng-computer-icons-logo-portable-network-graphics-clip-icons-for-free-iconza-circle-social-5b7fe46b0bac53.1999041115351082030478.jpg" height="25" width="25"/></a> | <a href="www.linkedin.com/in/kodtodya"><img src="https://i7.pngguru.com/preview/668/576/941/social-media-linkedin-computer-icons-facebook-inc-social-networking-service-social-media.jpg" height="25" width="25"/></a></h4>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">©2020 by <a href="https://kodtodya.github.io">kodtodya</a>.</span>
      </footer>
    </main>
  </body>
</html>
